/*
-deben ser elementos por default que lucirán igual en todo el sitio, es .
-ningún estilo de estos elementos selectores deberá usar !important.
-no usar selectores tipo class o id.
*/

	
a
	text-decoration none
	
	&:hover
		text-decoration underline
		
	img
		border 0
	
body
	color $gris
	font-family $glight
	font-size 1.3em
	overflow hidden
	

h1, h2, h3
	color darken($naranja, 30%)
	font-family $glight

p
	font-family $glight
	text-align justify
	
ul
	list-style none
	margin 0
	padding 0
	
header.menu-header-cont
	background $blanco
	box-shadow 0px 0px 3px $gris
	height 112px
	padding 20px
	position relative	

.img-responsive
	width 100%

.clear
	clear both

iframe
	width 100%

//Fondos
.color-module-azul
	background $azulsem
	
.color-module-morado
	background $morado

.color-module-amarillo
	background $amarillo

.color-module-rojo
	background $rojo

.color-module-verde
	background $verde

.color-module-naranja
	background $naranja

.color-module-azulcie
	background $azulcie

.color-module-verdeosc
	background $verdeosc

.color-module-cafe
	background $cafe

.color-module-azulosc
	background $azulosc

//Bordes
.line-module-verdesem
	border-color $verdeesm

.line-module-azul
	border-color $azulsem
	
.line-module-morado
	border-color $morado

.line-module-amarillo
	border-color $amarillo

.line-module-rojo
	border-color $rojo

.line-module-verde
	border-color $verde

.line-module-naranja
	border-color $naranja

.line-module-azulcie
	border-color $azulcie

.line-module-verdeosc
	border-color $verdeosc

.line-module-cafe
	border-color $cafe

.line-module-azulosc
	border-color $azulosc

.line-module-verdesem
	border-color $verdeesm
