//Botón ayuda
.cont-btn-default
	border 1px solid $gris
	border-radius 8px
	cursor pointer
	display inline-block
	float right
	padding 3px 20px
	
	&.ligth
		border 1px solid $griscla
		
		a
			color $griscla
	
	&.white
		border 1px solid $blanco
		
		a
			color $blanco
			
	&.help
		margin-top 40px
		
	a
		color $gris
		text-decoration none
		
		p.text-btn-default
			float left
			font-size 1.4rem
			line-height 1.4rem
			margin 9px 0 0
		
		.icon-help
			height 18px
			margin-left 6px
			margin-top 2px
			width 18px
			
	&:hover
		background $gris
		border 1px solid $gris
		 
		&:hover
			
			p.text-btn-default
				color $blanco
			
			.icon-help
				background-image url("../images/icons/icon-help-white.png")	
				border 1px solid $blanco
				
			.icon-arrow-ligth,
			.icon-arrow
				background-image url("../images/icons/icon-arrow-white.png")	
				border 1px solid $blanco

.cont-btn-default-double
	border 1px solid $gris
	border-radius 8px
	cursor pointer
	display inline-block
	padding 3px 20px
	
	p.text-btn-default
		float left
		font-size 1.4rem
		line-height 1.4rem
		margin 9px 0 0
		
	a
		color $gris
		text-decoration none
	
	&:hover
		
		background $gris
		border 1px solid $gris
		
		p.text-btn-default
				color $blanco
				
		.icon-play
			background-image url("../images/icons/icon-play-white.png")	
			border 1px solid $blanco
		
		.icon-arrow
				background-image url("../images/icons/icon-arrow-white.png")	
				border 1px solid $blanco
