//se pueden declarar con funciones
// make-prefix-column(num)
// make-prefix-column-offset(num)
// @stylint off

.column-ex
	make-xs-column(12)
	make-sm-column(12)
	make-md-column(12)
	make-lg-column(12)

.column-center
	make-xs-column(11)
	make-sm-column(11)
	make-md-column(11)
	make-lg-column(11)
	margin 0 auto 
	float initial !important
	padding 0

.column-center-task
	make-xs-column(10)
	make-sm-column(10)
	make-md-column(10)
	make-lg-column(10)
	margin 0 auto 
	float initial !important
	padding 0
	


	



// @stylint on
//NO PASAR DE ACA