@font-face
  font-family 'Gotham-B'
  src url('../fonts/Gotham-Bold.eot')
  src url('../fonts/Gotham-Bold.eot') format('embedded-opentype'),
         url('../fonts/Gotham-Bold.woff2') format('woff2'),
         url('../fonts/Gotham-Bold.woff') format('woff'),
         url('../fonts/Gotham-Bold.ttf') format('truetype'),
         url('../fonts/Gotham-Bold.svg') format('svg')
  font-style normal
  font-weight normal

@font-face
  font-family 'Gotham-L'
  src url('../fonts/Gotham-Light.eot')
  src url('../fonts/Gotham-Light.eot') format('embedded-opentype'),
         url('../fonts/Gotham-Light.woff2') format('woff2'),
         url('../fonts/Gotham-Light.woff') format('woff'),
         url('../fonts/Gotham-Light.ttf') format('truetype'),
         url('../fonts/Gotham-Light.svg') format('svg')
  font-style normal
  font-weight normal
  
@font-face
  font-family 'Gotham-Bk'
  src url('../fonts/Gotham-Book.eot')
  src url('../fonts/Gotham-Book.eot') format('embedded-opentype'),
         url('../fonts/Gotham-Book.woff2') format('woff2'),
         url('../fonts/Gotham-Book.woff') format('woff'),
         url('../fonts/Gotham-Book.ttf') format('truetype'),
         url('../fonts/Gotham-Book.svg') format('svg')
  font-style normal
  font-weight normal


