.footer-ovas
	bottom 20px
	position fixed
	width 100%
	
	.cont-footer
		display -webkit-flex
		display -moz-flex
		display -ms-flex
		display -o-flex
		display flex
		flex-direction row

		.cont-img-school
			
			.img-logo-school
				background rgba(0,0,0,0.5)
				border-radius 100%
				float left
				height 40px
				margin-right 20px
				padding 6px
				width 40px
		
		.cont-progress-bar
			width 60%
			
			.progress-workshop-step
				display none
				
		.cont-icons-helpcenter
			
			.cont-btn-help-footer
				border 1px solid $griscla
				border-radius 100%
				float left
				height 30px
				margin-right 10px
				padding 3px
				width 30px
							
				a		
					
					i
						height 22px
						width 22px
					
					&:hover
						
						i.icon-more
							background-image url("../images/icons/icon-more-white.png")
							
						i.icon-book
							background-image url("../images/icons/icon-book-white.png")
							
						i.icon-help-f
							background-image url("../images/icons/icon-help-white.png")


				&:hover
					background $xgriscla	
				

				
