.icon-help
	background-image url("../images/icons/icon-help.png")
	background-size contain
	border 1px solid $gris
	border-radius 100%
	display block
	float left

.icon-file
	background-image url("../images/icons/icon-file.png")
	background-size contain
	border 1px solid $griscla
	border-radius 100%
	display block
	float left

.icon-arrow
	background-image url("../images/icons/icon-arrow.png")
	background-size contain
	border 1px solid $gris
	border-radius 100%
	display block
	float left
	height 18px
	margin-left 6px
	margin-top 2px
	width 18px
	
.icon-arrow-ligth
	background-image url("../images/icons/icon-arrow-ligth.png")
	background-size contain
	border 1px solid $griscla
	border-radius 100%
	display block
	float left
	height 18px
	margin-left 6px
	margin-top 2px
	width 18px

.icon-more
	background-image url("../images/icons/icon-more.png")
	background-repeat no-repeat
	background-size contain
	border-radius 100%
	display block

.icon-book
	background-image url("../images/icons/icon-book.png")
	background-repeat no-repeat
	background-size contain
	border-radius 100%
	display block

.icon-help-f
	background-image url("../images/icons/icon-help.png")
	background-repeat no-repeat
	background-size contain
	border-radius 100%
	display block
	
.icon-file-blue
	background-image url("../images/icons/icon-file-blue.png")
	background-repeat no-repeat
	background-size contain
	display block

.icon-play
	background-image url("../images/icons/icon-play.png")
	background-repeat no-repeat
	background-size contain
	border 1px solid $gris
	border-radius 100%
	display block
	float left
	margin-left 6px
	margin-top 2px

.icon-check
	background-image url("../images/icons/icon-check.png")
	background-repeat no-repeat
	background-size contain
	border-radius 100%
	display block

.icon-arrow-white
	background-image url("../images/icons/icon-arrow-white.png")
	background-size contain
	border-radius 100%
	display block
	float left
	margin-left 6px
	margin-top 2px

.icon-books-menu
	width 100%