header.menu-header-cont
	z-index 1
	
.cont-menu-ovas
	display -webkit-flex
	display -moz-flex
	display -ms-flex
	display -o-flex
	display flex
	flex-direction row
	
.cont-title-ovas
	padding-right 20px
	padding-top 20px
	width 70%

.cont-logo-ejercito
	margin-left 90px
	width 130px
	
	h1
		margin 0
	
label
	.menu
		cursor pointer
		height 193px
		position absolute
		left -9px
		top -80px
		transition .5s ease-in-out
		width 100%
		z-index 100
	
	.hamburger
		background $gris
		display block
		height 2px
		left 50px
		position absolute
		top 135px
		transform-origin center
		transition .5s ease-in-out
		width 30px
		
		&:after,
		&:before
			background $gris
			content ''
			display block
			height 100%
			position absolute
			transition .5s ease-in-out
			width 100%
		
		&:before
			top -10px
		
		&:after
			bottom -10px
	
	input
		display none
		
		&:checked 
			& + .menu 
				border-radius 0
				box-shadow 0 0 0 100vw rgba(220,220,220,0.7), 0 0 0 100vh rgba(220,220,220,0.7)
		
				.hamburger 
					transform rotate(45deg)
		
					&:after 
						bottom 0
						transform rotate(90deg)
		
					&:before 
						top 0
						transform rotate(90deg)

				& + ul 
					opacity 1
	
	ul.menu-ova
		left 50%
		margin-top 150px
		opacity 0
		position absolute
		top 50%
		transform translate(-50%, -50%)
		transition .25s 0s ease-in-out 
		z-index 200
		
		li
			a
				cursor pointer
				
				&:hover
					color $azulcie
					text-decoration none
					
				.cont-info-module
					display -webkit-flex
					display -moz-flex
					display -ms-flex
					display -o-flex
					display flex
					flex-direction row
					
					.cont-icon-menu
						border 1px solid
						border-radius 100%
						height 30px
						padding 6px 4px
						width 30px
						
						.icon-books-menu
							
							path
								&.bg-svg-verdesem
									fill $verdeesm

								&.bg-svg-azul
									fill $azulsem
									
								&.bg-svg-morado
									fill $morado

								&.bg-svg-amarillo
									fill $amarillo

								&.bg-svg-rojo
									fill $rojo

								&.bg-svg-verde
									fill $verde

								&.bg-svg-naranja
									fill $naranja

								&.bg-svg-azulcie
									fill $azulcie

								&.bg-svg-verdeosc
									fill $verdeosc

								&.bg-svg-cafe
									fill $cafe

								&.bg-svg-azulosc
									fill $azulosc

								&.bg-svg-verdesem
									fill $verdeesm
						
					.line-menu
						border-top 1px dotted
						margin-top 14px
						width 16px
					
					.cont-number-menu
						color $blanco
						height 30px
						position relative
						width 16px
						
						.number-module
							font-size 1.4rem
							font-weight 300
							line-height 1.4rem
							margin 14px 0 0
							position absolute
							text-align center
							width 100%
					
					.cont-module-name-menu
						margin-left 10px
						
						.title-module-menu
							color $gris
							font-family $gbold
							margin 0
							text-transform uppercase

						.text-module-menu
							color $gris
							font-family $glight
							font-weight 300
							


//TÍTULO OVAS
p.title-ova-bold
	font-family $gbold
	font-size 2rem
	line-height 2rem
	margin 0
	text-align right

p.title-ova-light
	font-size 2rem
	line-height 2rem
	margin 0
	text-align right

//Medallas
.cont-medals-menu
	ul.medals-menu
		list-style none
		margin 20px	0 0
		padding 0
		
		li.medal
			background-image url("../images/modules/img-medal-off.png")
			float left
			height 30px
			margin-right 4px
			width 18px
			
			&.active
				animation medalactive 1s ease-in-out
				background-image url("../images/modules/img-medal-on.png")
			