.cont-gen-modal
	background rgba(0,0,0,0.8)
	height 100vh
	position absolute
	top 0
	width 100%
	z-index 1000
	
.cont-shield-info
	background-image url("../images/modules/img-bg-modal.jpg")
	background-repeat no-repeat
	height 520px
	margin 10% auto 0
	width 80%
	
	.shield-module-end
		background rgba(255,160,11,0.5)
		height 100%
		padding-top 5%
		width 50%
		
		.shield-score
			background-image url("../images/modules/img-shield-module.png")
			display block
			height 345px
			margin 0 auto
			position relative
			width 402px
			
			p.title-shield,
			p.text-shield
				color $blanco
				position absolute
				text-align center
				text-transform uppercase
			
			p.title-shield
				font-family $gbold
				font-size 1.6rem
				left 25%
				line-height 1.6rem
				top 56%
				width 50%
			
			p.text-shield
				font-size 1.2rem
				left 30%
				line-height 1.2rem
				top 70%
				width 40%
		
		.cont-btn-default.white
			float initial
			margin-left 38%
			margin-top 30px
			
			.circle
				border 1px solid $blanco
				border-radius 100%
				float left
				height 20px
				margin-left 6px
				padding 2px
				width 20px
				
				i.icon-arrow-white
					height 100%
					margin 0
					width 100%

			

				