.cont-title-modules-page
	display -moz-flex
	display -ms-flex
	display -o-flex
	display -webkit-flex
	display flex
	flex-direction row
	margin 20px auto 0
	width 90%
	
.cont-line-decoration
	margin-top 20px
	position relative
	width 50%
	
.line-decoration
	background $griscla
	height 2px
	width 100%

.circle-decoration
	background $griscla
	border-radius 100%
	height 6px
	position absolute
	top -2px
	width 6px
	
.line-right
	.circle-decoration
		right 0
		
h2.title-modules-page
	color $gris
	font-family $gbook 
	padding 0 20px
	text-transform uppercase

//Información módulos
.cont-info-module-ova
	display -moz-flex
	display -ms-flex
	display -o-flex
	display -webkit-flex
	display flex
	flex-direction row
	margin 10px auto 20px
	width 60%

.info-module-ova
	display -moz-flex
	display -ms-flex
	display -o-flex
	display -webkit-flex
	display flex
	width 30%

.icon-info-module-ova
	border 1px solid $griscla
	border-radius 100%
	height 32px
	margin-right 6px
	padding 3px
	width 32px
	
.title-info-module-ova,
.number-info-module-ova
	font-size 1.4rem
	line-height 1rem
	margin 15px 6px 0 0

.number-info-module-ova
	font-family $gbold

//Slider módulos
.cont-list-module-ova
	margin 10px auto 0
	overflow hidden
	width 94%

ul.list-module-ova
	display -moz-flex
	display -ms-flex
	display -o-flex
	display -webkit-flex
	display flex
	margin-top 20px
	
	li.item-list-module-ova
		cursor pointer
		margin-right 50px 
		max-width 250px
		min-width 250px
	
		&:hover
			.cont-number-module
				background $azulagu
				$filter alpha (opacity=50) 
				opacity 0.5
		
		&:nth-child(2)
			
			&:hover
				.cont-number-module
					background $morado
					$filter alpha (opacity=50)
					opacity 0.5
		
		&:nth-child(3)
			
			&:hover
				.cont-number-module
					background $amarillo
					$filter alpha (opacity=50)
					opacity 0.5
		
		&:nth-child(4)
			
			&:hover
				.cont-number-module
					background $rojo
					$filter alpha (opacity=50)
					opacity 0.5
		
		&:nth-child(5)
			
			&:hover
				.cont-number-module
					background $verde
					$filter alpha (opacity=50)
					opacity 0.5
		
		&:nth-child(6)
			
			&:hover
				.cont-number-module
					background $naranja
					$filter alpha (opacity=50)
					opacity 0.5
		
		&:nth-child(7)
			
			&:hover
				.cont-number-module
					background $azulcie
					$filter alpha (opacity=50)
					opacity 0.5
		
		&:nth-child(8)
			
			&:hover
				.cont-number-module
					background $verdeosc
					$filter alpha (opacity=50)
					opacity 0.5
		
		&:nth-child(9)
			
			&:hover
				.cont-number-module
					background $cafe
					$filter alpha (opacity=50)
					opacity 0.5
		
		&:nth-child(10)
			
			&:hover
				.cont-number-module
					background $azulosc
					$filter alpha (opacity=50)
					opacity 0.5
		
		&:nth-child(11)
			
			&:hover
				.cont-number-module
					background $verdeesm
					$filter alpha (opacity=50)
					opacity 0.5
		
					
.cont-img-info-ova
	background-image url("../images/modules/img-module-2.jpg")
	color $blanco
	height 313px
	position relative
	text-transform uppercase
	transition all .4s ease-in-out;
	width 250px
	
	&:hover
		transform scale(1.1)
	
	.cont-title-module
		background rgba(0,0,0,0.2)
		bottom 12px
		padding 4px 0 4px 13px
		position absolute
		width 100%
	
		.title-list-module-bold
			font-family $gbold
			margin 10px 0 0
		
		.title-list-module-light
			font-family $glight	
			margin 0
		
	.cont-number-module
		background rgba(96,96,96,0.4)
		bottom 0
		bottom 0
		height 130px
		position absolute
		right 10px
		width 30px
		
		.number-module
			bottom 20px
			font-family $glight
			font-size 4rem
			line-height 1rem
			margin 0
			position absolute
			text-align center
			width 100%

.cont-text-theme-module
	font-size 1rem
	height 42px
	margin 20px auto 0
	overflow-y hidden
	width 80%

//Módulo activo
.cont-module-selected
	display -webkit-flex
	display -moz-flex
	display -ms-flex
	display -o-flex
	display flex
	
.cont-img-module-selected
	background url("../images/modules/img-module-1-Big.jpg")
	background-repeat no-repeat
	background-size cover
	height 100vh
	width 30%
	
	.cont-modulo-select-info
		height 100%
		position relative
		width 100%
		
		.cont-name-module-select
			bottom 30%
			color $blanco
			padding 10px
			position absolute
			text-transform uppercase
			width 100%
			
			&.module-1
				background rgba(27,101,127,0.6)
	
			p.title-list-module-bold
				font-family $gbold
				font-size 2rem
				line-height 2rem
				margin 12px 0 0
				width 70%
			
			p.title-list-module-light
				font-family $glight
				font-size 1.6rem
				line-height 1.6rem
				margin-bottom 0
				width 70%
		
		.cont-number-module-select
			bottom 30%
			height 200px
			position absolute
			right 20px
			width 100px
			
			&.module-1
				background $azulsem
			
			p.number-module
				color $blanco
				font-size 8rem
				line-height 8rem
				margin-top 142%
				text-align center
				
p.title-number-module,
.title-text-module
	color $azulsem
	float left
	font-family $gbold
	font-size 2.4rem

.cont-info-module-selected
	width 60%
	
	ul.cont-list-activities
		height 500px
		margin-top 40px
		overflow auto
		
		li
			margin-bottom 34px
			width 100%
	
		li.item-actvity-module
			display inline-block
			
			.cont-line-verti-activity
				float left
				margin-left 40px
				
				.line-activity
					height 66px
			
			.icon-file
				height 24px
				margin -8px 0 0 60px
				width 24px
			
			p.text-number-activities
				float left
				font-size 1.8rem
				line-height 1.8rem
				margin 0 0 0 6px
				
		li.item-activity-module
			display flex
			position relative
			
			.arrow-selected-activity
				border-bottom 10px solid transparent
				border-left 10px solid $azulsem
				border-right 10px solid transparent
				border-top 10px solid transparent
				height 16px
				margin-top 10%
				opacity 0
				transition opacity 2s, margin-top 2s
				width 16px

			.cont-info-activity
				width 70%
				
				p.title-activity
					color $azulsem
					font-size 1.8rem
					margin-bottom 30px
				
				p.text-activity
					color $grisosc
					font-size 1.4rem
				
				p.text-info-activity
					float left
					margin-left 16%
					text-align center
					width 30%
					
					&:last-child
						margin-left 0
			
			.cont-bnt-start
				position absolute
				right 0
				top 40%
			

			&:hover

				.arrow-selected-activity
					margin-top 0
					opacity 1
		
		.cont-line-verti-activity
			margin 0 20px
			position relative
			
			.circle-activity
				background $azulsem
				border-radius 100%
				height 6px
				width 6px
			
			.line-activity
				background $griscla
				height 100px
				left 30%
				position absolute
				width 2px

.cont-score-module
	
	.triangle-module
		border-bottom 14px solid transparent
		border-left 14px solid $azulsem
		border-right 14px solid transparent
		border-top 14px solid transparent
		float left
		height 14px
		margin-top 40px
		width 14px
	
	.cont-line-verti-module
		float left
		height 60%
		margin-bottom 0
		margin-left 20px
		margin-right 36px
		margin-top 40px 
		position relative
		
		.circle-score
			background $azulsem
			border-radius 100%
			height 6px
			position absolute
			width 6px
			z-index 1
		
		.line-score
			background $griscla
			height 100%
			left 2px
			position absolute			
			width 2px
			
	.test-score-module
		float left
		margin-top 40px
		
		h2.title-text-module
			margin 0
			width 100%
		
		.circle-icon
			border 1px solid $griscla
			border-radius 100%
			float left
			height 28px
			margin-right 10px
			padding 2px
			width 28px
			
			.icon-file
				border none
				height 100%
				width 100%
		
		.text-activities-module
			float left
			font-size 2rem
			margin-top 4px
		
		.title-score
			color $gris
		
		.info-test.module
			float left
			margin-right 10px
	
	.cont-table-task-state
		height 250px
		margin-top 30px
		overflow auto
		padding-right 15px
		
		table.cont-task-states-module
			width 100%
			
			thead
				height 50px
				
				tr
					th
						font-family $glight
						
					th.header-table-task
						font-size 1.8rem
						font-weight 300
						text-align justify
						width 80%
					
					th.header-table-state
						font-size 1.8rem
						font-weight 300
						width 20%
			
			tbody
				
				tr
					
					td.body-table-task
						padding 10px 0
						text-align justify
						width 80%
						
						.cont-circle-task
							float left
							height 100%
							margin-right 6px
							margin-top 2px
							
							.circle-task
								background $azulsem
								border-radius 100%
								height 5px
								width 5px
								
							
						p.title-task-table
							margin 0
						
						p.title-task-table,
						p.text-task-table
							float left
						
						p.text-task-table
							margin-left 10px
					
					td.body-table-state
						padding 10px 0
						width 20%
						
						.cont-icon-state
							border 1px solid $griscla
							border-radius 100%
							float left
							height 36px
							margin-left 45px
							padding 6px
							width 36px
							
							i.icon-check
								height 100%
								width 100%
	
	.cont-btn-default
		float initial
		margin-left 35%
		margin-top 10px
							
//Felicitaciones
.cont-end-module
	background-image url("../images/modules/img-module-end.jpg")
	background-repeat no-repeat
	background-size cover
	display -webkit-flex
	display -moz-flex
	display -ms-flex
	display -o-flex
	display flex
	height 100vh
	
	article.cont-flag-medal,
	article.cont-medal-text
		position relative
		width 50%
	
	article.cont-flag-medal
		
		div.flag-medal
			animation flag 2s linear
			left 25%
			position absolute
			width 250px
			z-index 0
	
	article.cont-medal-text
		background rgba(27,101,127,0.8)
		color $blanco 
		height 100vh
		padding 20px 40px
		
		.title-congrats-medal
			color $blanco
			font-family $gbold
			font-size 4rem
			line-height 4rem
			margin 30% 0 0
			text-transform uppercase
		
		.subtitle-medal-text
			font-size 2rem
			line-height 2rem
			margin 0
			text-transform uppercase
		
		.text-medal-bold
			font-family $gbold
			font-size 2.2rem
			line-height 2rem
			margin 10% 0 0
			text-transform uppercase
		
		.text-medal-ligth
			font-size 2.2rem
			margin 0 0 0
			text-transform uppercase
		
		.text-medal-white
			font-size 1.4rem
			margin 30px 0 0
			width 80%
		
		.cont-btn-default.white
			float initial
			margin-top 30px
			
			.circle
				border 1px solid $blanco
				border-radius 100%
				float left
				height 20px
				margin-left 6px
				padding 2px
				width 20px
				
				i.icon-arrow-white
					height 100%
					margin 0
					width 100%

