//-Header task
section.cont-header-task
	display -moz-flex
	display -ms-flex
	display -o-flex
	display -webkit-flex
	display flex
	flex-direction row

	&.img-header-mask
		background url("../images/modules/img-module-1-Big.jpg")
		background-repeat no-repeat
		background-size cover
	
	.cont-icon-task
		
		.cont-icon
			border 1px solid $azulsem
			border-radius 100%
			float left
			height 30px
			margin 6px 20px 0 126px
			padding 4px 5px
			width 30px
			
			i.icon-file-blue
				height 20px
				width 20px
	
		h2.title-task-blue
			color $azulsem
			float left	
			font-family $gbold
			font-size 2.8rem
			line-height 0rem
			margin 0
			padding-top 30px
			
		.cont-line-task
			float left
			margin-left 20px
			margin-top 20px	
			position relative
			width 46%
			
			.line-task
				background $azulsem	
				height 2px
				width 100%
			
			.circle-task
				background $azulsem
				border-radius 100%
				height 6px
				position absolute
				right -1px
				top -2px
				width 6px
				
	.cont-text-objective-task
		color $blanco
		filter contrast(192%)
			
		&.bg-task-blue
			background rgba(27,101,127,0.9)
			
		.text-objective-task
			color $blanco
			font-size 1.6rem
			line-height 1.6rem
			margin 10px 0 0
			width 80%
			
.cont-icon-task,
.cont-text-objective-task
		padding 26px
		width 50%

//-Detail task
section.column-center-task
	
	.cont-video-task,
	.cont-detail-task,
	.cont-gallery-task
		float left
		margin-top 70px
		padding 0 20px
		width 50%
	
	.cont-text-info-task
		
		h3.title-bold-task
			color $griscla
			font-family $gbold
			font-size 2.6rem
			margin 0
			text-transform uppercase
		
		h4.title-light-task
			font-family $glight
			font-size 2.6rem
			margin 0
			text-transform uppercase
		
	.cont-detail-text-task
		height 227px
		margin-top 30px
		overflow auto
		padding 0 20px 20px 0
	
	.cont-btn-default
		float initial
		margin 20px 0 0 34%
	
	//-Gallery
	.cont-gallery-task
		.my-gallery
			float left
			width 100%
			
			img
				height auto
				width 100%
			
			figure
				display block
				float left
				margin 0 5px 5px 0
				width 150px
			
				&:first-child
					width 100%
	
	//-Only text
	.cont-detail-only-text-task
		margin-top 70px
		
		h3.title-bold-task
			color $griscla
			font-family $gbold
			font-size 2.6rem
			margin 0
			text-transform uppercase
		
		h4.title-light-task
			font-family $glight
			font-size 2.6rem
			margin 0
			text-transform uppercase
		
		.cont-title-only-text
			width 100%
		
		.cont-only-text
			height 227px
			margin-top 20px
			overflow auto
			
			p.text-description-task,
			.cont-ul-objectives
				float left
				padding 0 20px
				width 50%
				
				&:first-child
					padding-left 0
			
			//-Objectives
			p.title-workshop-objectives
				color $negrocl
				font-family $gbold
				font-size 1.6rem
				margin-bottom 0
				text-transform uppercase
			
			p.subtitle-workshop-objectives
				margin 10px 0 6px
				text-transform uppercase
			
			ul.cont-list-objectives
				list-style-type circle
				
				li
					
					&:before
						color $azulsem
						content "•"
						float left
						font-size 1.6rem
						line-height 1rem
						margin 6px 6px 0 0
						
					p.text-list-objetives
						color $griscla
		
		.cont-btn-default-double
			margin 20px 30px 0 36%
			
			&:last-child
				margin-left 0
			
			.icon-play
				height 18px
				width 18px
				

			
		
	

	