//-Footer

footer.footer-ovas
	div.column-center.cont-footer
		//-Logos escuelas
		div.cont-img-school
			div.img-logo-school
				img(src="images/Untitled-1.png", alt="")
			div.img-logo-school
				img(src="images/Untitled-2.png", alt="")
		
		//-Progreso
		div.cont-progress-bar
			div.progress
				div.progress-workshop
					div.progress-workshop-step
						label(for="step-1")
					div.progress-workshop-step
						label(for="step-2")
					div.progress-workshop-step
						label(for="step-3")
					div.progress-workshop-step
						label(for="step-4")
					div.progress-workshop-step
						label(for="step-5")
					input(type="radio", checked='checked',id='step-1',name='step')
					input(type="radio", id='step-2',name='step')
					input(type="radio", id='step-3',name='step')
					input(type="radio", id='step-4',name='step')
					input(type="radio", id='step-5',name='step')
					div.progress-workshop-bar
					div.progress-workshop-bar-set

		
		//-Botones Ayuda
		div.cont-icons-helpcenter
			div.cont-btn-help-footer
				a(href="#")
					i.icon-more

			div.cont-btn-help-footer
				a(href="#")
					i.icon-book

			div.cont-btn-help-footer
				a(href="#")
					i.icon-help-f
				


//-Scripts
//-Estos son los scripts que van en todos los htmls del desarrollo
if debug == true
	script(src='js/libs/jquery.js')
	script(src='js/libs-funciones-ovas.js')
	script(src='js/libs/bootstrap.min.js')

else
	script(src='js/libs/jquery.js')
	script(src="js/libs.min.js")