//-Header
header.menu-header-cont
	div.cont-menu-ovas
		//-Menú
		div.cont-menu-options
			include menu.pug
		//-Logo
		div.cont-logo-ejercito
			h1
				img.img-responsive(src="images/img-logo-ejercito.jpg", alt="")
		//-Titulo
		div.cont-title-ovas
			p.title-ova-bold
				|CURSO DE PREPARACIÓN 

			p.title-ova-light
				|DE INSTRUCTORES NIVEL BÁSICO
		//-Medallas
		div.cont-medals-menu
			ul.medals-menu
				li.medal.active
				li.medal
				li.medal
				li.medal
				li.medal
				li.medal
///-Header