nav.cont-menu-ova
	label
		input(type="checkbox")
		span.menu
			span.hamburger

		ul.menu-ova
			li.options-menu-ova.active
				a(href="module.html")
					div.cont-info-module
						div.cont-icon-menu
							include icon-books-menu.svg
						div.line-menu.line-module-verdesem
						div.cont-number-menu.color-module-azul
							p.number-module
								|1
						div.cont-module-name-menu
							p.title-module-menu
								|Módulo
							p.text-module-menu
								|Fundamentos de la educación militar
			li.options-menu-ova.active
				a(href="module.html")
					div.cont-info-module
						div.cont-icon-menu
							include icon-books-menu.svg
						div.line-menu.line-module-verdesem
						div.cont-number-menu.color-module-azul
							p.number-module
								|1
						div.cont-module-name-menu
							p.title-module-menu
								|Módulo
							p.text-module-menu
								|Fundamentos de la educación militar
			li.options-menu-ova.active
				a(href="module.html")
					div.cont-info-module
						div.cont-icon-menu
							include icon-books-menu.svg
						div.line-menu.line-module-verdesem
						div.cont-number-menu.color-module-azul
							p.number-module
								|1
						div.cont-module-name-menu
							p.title-module-menu
								|Módulo
							p.text-module-menu
								|Fundamentos de la educación militar