//-Layout Base
extends ../templates/base.pug

//-Etiqueta Title
block title
	title Curso de preparación de intructores nivel básico

//-Etiqueta Metadescription
block description
	meta(name="description", content="Ovas" )


block content
	//-Modulo puntuación
	section.cont-module-selected
		article.cont-img-module-selected
			div.cont-modulo-select-info
				div.cont-name-module-select.module-1
					p.title-list-module-bold
						|Fundamentos de

					p.title-list-module-light
						|la educación militar la educación militar la educación militar la educación militar la educación militar
				div.cont-number-module-select.module-1
					p.number-module
						|1

		article.cont-score-module
			div.triangle-module
			div.cont-line-verti-module
				div.circle-score
				div.line-score
			div.test-score-module
				h2.title-text-module
					|Modulo 1
				div.circle-icon
					i.icon-file
				p.text-activities-module
					|Actividades: 12
				div.clear
				h3.title-score
					|Resultados Test 1
				p.info-test.module
					|Duración:
				p.info-test.module
					|1H
				p.info-test.module
					|Cantidad de preguntas:
				p.info-test.module
					|20
				p.info-test.module
					|Porcentaje aprobación:
				p.info-test.module
					|60%
				div.clear
				div.cont-table-task-state
					table.cont-task-states-module
						thead
							tr
								th.header-table-task
									|Tarea
								th.header-table-state
									|Estado
						tbody
							tr
								td.body-table-task
									div.cont-circle-task
										div.circle-task
									p.title-task-table
										|Tarea: 1
									
									p.text-task-table
										|Identificar y aplicar los conceptos constitucionales de la Educación militar.

								td.body-table-state
									div.cont-icon-state
										i.icon-check
							tr
								td.body-table-task
									div.cont-circle-task
										div.circle-task
									p.title-task-table
										|Tarea: 1
									
									p.text-task-table
										|Identificar y aplicar los conceptos constitucionales de la Educación militar.

								td.body-table-state
									div.cont-icon-state
										i.icon-check
							tr
								td.body-table-task
									div.cont-circle-task
										div.circle-task
									p.title-task-table
										|Tarea: 1
									
									p.text-task-table
										|Identificar y aplicar los conceptos constitucionales de la Educación militar.

								td.body-table-state
									div.cont-icon-state
										i.icon-check
							tr
								td.body-table-task
									div.cont-circle-task
										div.circle-task
									p.title-task-table
										|Tarea: 1
									
									p.text-task-table
										|Identificar y aplicar los conceptos constitucionales de la Educación militar.

								td.body-table-state
									div.cont-icon-state
										i.icon-check
							tr
								td.body-table-task
									div.cont-circle-task
										div.circle-task
									p.title-task-table
										|Tarea: 1
									
									p.text-task-table
										|Identificar y aplicar los conceptos constitucionales de la Educación militar.

								td.body-table-state
									div.cont-icon-state
										i.icon-check
			div.clear
			//-Botón inicio tarea
			div.cont-btn-default
				a(href="#")
					p.text-btn-default
						|Siguiente Módulo
					i.icon-arrow







		


	
	

block Scripts
	//-Acá se ponen js que solo vayan en ésta página

