//-Layout Base
extends ../templates/base.pug

//-Etiqueta Title
block title
	title Curso de preparación de intructores nivel básico

//-Etiqueta Metadescription
block description
	meta(name="description", content="Ovas" )


block content
	section.cont-end-module
		article.cont-flag-medal
			div.flag-medal
				img.img-responsive(src="images/modules/img-medal-end.png", alt="")
		article.cont-medal-text
			h2.title-congrats-medal
				|Felicidades!
			p.subtitle-medal-text
				|Ha finalizado con éxito
			p.text-medal-bold
				|El curso de preparación de
			p.text-medal-ligth
				|instructores nivel básico
			p.text-medal-white
				| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa exercitationem illo, veritatis illum autem iusto incidunt. At ratione minus nam modi sit natus reprehenderit porro amet maiores facere, molestiae repellat.

			//-Botón resultado
			div.cont-btn-default.white
				a(href="#")
					p.text-btn-default
						|Ver resultado total
					div.circle
						i.icon-arrow-white



block Scripts
	//-Acá se ponen js que solo vayan en ésta página

