//-Layout Base
extends ../templates/base.pug

//-Etiqueta Title
block title
	title Curso de preparación de intructores nivel básico

//-Etiqueta Metadescription
block description
	meta(name="description", content="Ovas" )


block content
	section.cont-default-ovas.column-ex
		article.cont-title-modules-page.column-center
			div.cont-line-decoration.line-left
				div.line-decoration
				div.circle-decoration

			h2.title-modules-page
				|Módulos

			div.cont-line-decoration.line-right
				div.line-decoration
				div.circle-decoration

		//-Información módulos
		article.cont-info-module-ova
			div.info-module-ova
				div.icon-info-module-ova
					img.img-responsive(src="images/icons/icon-books.png", alt="")
				p.title-info-module-ova
					|Cantidad de módulos:

				p.number-info-module-ova
					|12

			div.info-module-ova
				div.icon-info-module-ova
					img.img-responsive(src="images/icons/icon-file.png", alt="")
				p.title-info-module-ova
					|Tareas a evaluar:

				p.number-info-module-ova
					|12

			div.info-module-ova
				div.icon-info-module-ova
					img.img-responsive(src="images/icons/icon-clock.png", alt="")
				p.title-info-module-ova
					|Duración módulo:

				p.number-info-module-ova
					|12h

		//-Listado módulos
		article.cont-list-module-ova
			ul.list-module-ova
				li.item-list-module-ova
					div.cont-img-info-ova
						div.circle-module
						div.cont-title-module
							p.title-list-module-bold
								|Fundamentos de

							p.title-list-module-light
								|la educación militar

						div.cont-number-module
							p.number-module
								|1
					div.cont-text-theme-module
						p.text-theme-module
							strong Tema: 
							|Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic mollitia fugiat deleniti nemo excepturi, iure ad, fuga iusto officia aperiam et, sint ipsa cupiditate vitae quo necessitatibus eaque nostrum quibusdam.

				li.item-list-module-ova
					div.cont-img-info-ova
						div.circle-module
						div.cont-title-module
							p.title-list-module-bold
								|Fundamentos de

							p.title-list-module-light
								|la educación militar

						div.cont-number-module
							p.number-module
								|2
					div.cont-text-theme-module
						p.text-theme-module
							strong Tema: 
							|Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic mollitia fugiat deleniti nemo excepturi, iure ad, fuga iusto officia aperiam et, sint ipsa cupiditate vitae quo necessitatibus eaque nostrum quibusdam.

				li.item-list-module-ova
					div.cont-img-info-ova
						div.circle-module
						div.cont-title-module
							p.title-list-module-bold
								|Fundamentos de

							p.title-list-module-light
								|la educación militar

						div.cont-number-module
							p.number-module
								|3
					div.cont-text-theme-module
						p.text-theme-module
							strong Tema: 
							|Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic mollitia fugiat deleniti nemo excepturi, iure ad, fuga iusto officia aperiam et, sint ipsa cupiditate vitae quo necessitatibus eaque nostrum quibusdam.

				li.item-list-module-ova
					div.cont-img-info-ova
						div.circle-module
						div.cont-title-module
							p.title-list-module-bold
								|Fundamentos de

							p.title-list-module-light
								|la educación militar

						div.cont-number-module
							p.number-module
								|4
					div.cont-text-theme-module
						p.text-theme-module
							strong Tema: 
							|Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic mollitia fugiat deleniti nemo excepturi, iure ad, fuga iusto officia aperiam et, sint ipsa cupiditate vitae quo necessitatibus eaque nostrum quibusdam.

				li.item-list-module-ova
					div.cont-img-info-ova
						div.circle-module
						div.cont-title-module
							p.title-list-module-bold
								|Fundamentos de

							p.title-list-module-light
								|la educación militar

						div.cont-number-module
							p.number-module
								|5
					div.cont-text-theme-module
						p.text-theme-module
							strong Tema: 
							|Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic mollitia fugiat deleniti nemo excepturi, iure ad, fuga iusto officia aperiam et, sint ipsa cupiditate vitae quo necessitatibus eaque nostrum quibusdam.
			
			//-Botón ayuda
			div.cont-btn-default.help
				a(href="#")
					p.text-btn-default
						|Ayuda
					i.icon-help

	//-Modulo selecionado
	section.cont-module-selected(style="display:none;")
		article.cont-img-module-selected
			div.cont-modulo-select-info
				div.cont-name-module-select.module-1
					p.title-list-module-bold
						|Fundamentos de

					p.title-list-module-light
						|la educación militar la educación militar la educación militar la educación militar la educación militar
				div.cont-number-module-select.module-1
					p.number-module
						|1

		article.cont-info-module-selected
			ul.cont-list-activities
				li.item-actvity-module
					div
						div.cont-line-verti-activity
							div.circle-activity
							div.line-activity
					p.title-number-module
						|Módulo 1
					
					div.clear
					i.icon-file
					p.text-number-activities
						|Actividades: 12
					//-Botón inicio
					div.cont-btn-default
						a(href="#")
							p.text-btn-default
								|Iniciar Módulo
							i.icon-arrow
				li.item-activity-module
					div.arrow-selected-activity
					div.cont-line-verti-activity
						div.circle-activity
						div.line-activity
					div.cont-info-activity
						p.title-activity
							|Tarea 4
						p.text-activity
							|Identificar y aplicar la doctrina dasmasco en los Procesos educativos de alta calidad del ejército nacional.
						p.text-info-activity
							|Duración: 2h
						p.text-info-activity
							|Test: Aprobado
					div.cont-bnt-start
						//-Botón inicio tarea
						div.cont-btn-default.ligth
							a(href="#")
								p.text-btn-default
									|Iniciar 
								i.icon-arrow-ligth
				li.item-activity-module
					div.arrow-selected-activity
					div.cont-line-verti-activity
						div.circle-activity
						div.line-activity
					div.cont-info-activity
						p.title-activity
							|Tarea 4
						p.text-activity
							|Identificar y aplicar la doctrina dasmasco en los Procesos educativos de alta calidad del ejército nacional.
						p.text-info-activity
							|Duración: 2h
						p.text-info-activity
							|Test: Aprobado
					div.cont-bnt-start
						//-Botón inicio tarea
						div.cont-btn-default.ligth
							a(href="#")
								p.text-btn-default
									|Iniciar 
								i.icon-arrow-ligth
				li.item-activity-module
					div.arrow-selected-activity
					div.cont-line-verti-activity
						div.circle-activity
						div.line-activity
					div.cont-info-activity
						p.title-activity
							|Tarea 4
						p.text-activity
							|Identificar y aplicar la doctrina dasmasco en los Procesos educativos de alta calidad del ejército nacional.
						p.text-info-activity
							|Duración: 2h
						p.text-info-activity
							|Test: Aprobado
					div.cont-bnt-start
						//-Botón inicio tarea
						div.cont-btn-default.ligth
							a(href="#")
								p.text-btn-default
									|Iniciar 
								i.icon-arrow-ligth
				li.item-activity-module
					div.arrow-selected-activity
					div.cont-line-verti-activity
						div.circle-activity
						div.line-activity
					div.cont-info-activity
						p.title-activity
							|Tarea 4
						p.text-activity
							|Identificar y aplicar la doctrina dasmasco en los Procesos educativos de alta calidad del ejército nacional.
						p.text-info-activity
							|Duración: 2h
						p.text-info-activity
							|Test: Aprobado
					div.cont-bnt-start
						//-Botón inicio tarea
						div.cont-btn-default.ligth
							a(href="#")
								p.text-btn-default
									|Iniciar 
								i.icon-arrow-ligth
		
	//-Modal
	div.cont-gen-modal(style="display:none;")
		div.cont-shield-info
			div.shield-module-end
				div.shield-score
					p.title-shield
						|La actividad el módulo 1

					p.text-shield
						|Instructores Nivel básico
				
				//-Botón continuar
				div.cont-btn-default.white
					a(href="#")
						p.text-btn-default
							|Continuar
						div.circle
							i.icon-arrow-white

block Scripts
	//-Acá se ponen js que solo vayan en ésta página

