//-Layout Base
extends ../templates/base.pug

//-Etiqueta Title
block title
	title Curso de preparación de intructores nivel básico

//-Etiqueta Metadescription
block description
	meta(name="description", content="Ovas" )


block content
	//-Encabezado Tarea
	section.cont-header-task.img-header-mask
		div.cont-icon-task
			div.cont-icon
				i.icon-file-blue
			h2.title-task-blue
				|Tarea 1
			div.cont-line-task
				div.line-task
				div.circle-task

		div.cont-text-objective-task.bg-task-blue
			p.text-objective-task
				|Identificar y aplicar conceptos constitucionales de la educación militar.
	
	//-Inicio Tarea
	section.column-center-task(style="display:none;")
		//-Inicio Media
		article.cont-video-task
			iframe(width='560' height='315' src='https://www.youtube.com/embed/IHgFJEJgUrg' frameborder='0' allow='autoplay; encrypted-media' allowfullscreen='')

		//-Inicio texto
		article.cont-detail-task
			div.cont-text-info-task
				h3.title-bold-task
					|Conceptos constitucionales
				h4.title-light-task
					|de la educación militar
					
			div.cont-detail-text-task
				p.text-description-task
					|Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.	
					<br/>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio explicabo suscipit impedit esse officia eaque cum ipsam nostrum, natus, iste rerum! Rerum maxime harum, fugit ad quia, nam magnam nisi?	
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.	
					<br/>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio explicabo suscipit impedit esse officia eaque cum ipsam nostrum, natus, iste rerum! Rerum maxime harum, fugit ad 

			//-Botón siguiente
			div.cont-btn-default
				a(href="#")
					p.text-btn-default
						|Siguiente
					i.icon-arrow

	//-Inicio Tarea galería - texto
	section.column-center-task(style="display:none;")
		//-Inicio Media
		article.cont-gallery-task
			//-Galería
			div.my-gallery(itemscope,itemtype="http://schema.org/ImageGallery")
				figure(itemprop="associatedMedia", itemscope, itemtype="http://schema.org/ImageObject")
					a(href="https://farm3.staticflickr.com/2567/5697107145_a4c2eaa0cd_o.jpg",itemprop="contentUrl", data-size="1024x1024")
						img(src="https://farm3.staticflickr.com/2567/5697107145_3c27ff3cd1_m.jpg", itemprop="thumbnail", alt="Image description")

				figure(itemprop="associatedMedia", itemscope, itemtype="http://schema.org/ImageObject")
					a(href="https://farm3.staticflickr.com/2567/5697107145_a4c2eaa0cd_o.jpg",itemprop="contentUrl", data-size="1024x1024")
						img(src="https://farm3.staticflickr.com/2567/5697107145_3c27ff3cd1_m.jpg", itemprop="thumbnail", alt="Image description")

				figure(itemprop="associatedMedia", itemscope, itemtype="http://schema.org/ImageObject")
					a(href="https://farm3.staticflickr.com/2567/5697107145_a4c2eaa0cd_o.jpg",itemprop="contentUrl", data-size="1024x1024")
						img(src="https://farm3.staticflickr.com/2567/5697107145_3c27ff3cd1_m.jpg", itemprop="thumbnail", alt="Image description")

				figure(itemprop="associatedMedia", itemscope, itemtype="http://schema.org/ImageObject")
					a(href="https://farm3.staticflickr.com/2567/5697107145_a4c2eaa0cd_o.jpg",itemprop="contentUrl", data-size="1024x1024")
						img(src="https://farm3.staticflickr.com/2567/5697107145_3c27ff3cd1_m.jpg", itemprop="thumbnail", alt="Image description")

			//-Mostar Galería
			div.pswp(tabindex="-1", role="dialog", aria-hidden="true")
				div.pswp__bg
					div.pswp__scroll-wrap
						div.pswp__container
							div.pswp__item
							div.pswp__item
							div.pswp__item

						div.pswp__ui.pswp__ui--hidden
							div.pswp__top-bar
								div.pswp__counter
								button.pswp__button.pswp__button--close(title="Close (Esc)")
								button.pswp__button.pswp__button--share(title="Share")
								button.pswp__button.pswp__button--fs(title="Toggle fullscreen")
								button.pswp__button.pswp__button--zoom(title="Zoom in/out")
								div.pswp__preloader
									div.pswp__preloader__icn
										div.pswp__preloader__cut
											div.pswp__preloader__donut
							button.pswp__button.pswp__button--arrow--left(title="Previous (arrow left)")
							button.pswp__button.pswp__button--arrow--right(title="Next (arrow right)")
							div.pswp__caption
								div.pswp__caption__center




		//-Inicio texto
		article.cont-detail-task
			div.cont-text-info-task
				h3.title-bold-task
					|Conceptos constitucionales
				h4.title-light-task
					|de la educación militar
					
			div.cont-detail-text-task
				p.text-description-task
					|Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.	
					<br/>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio explicabo suscipit impedit esse officia eaque cum ipsam nostrum, natus, iste rerum! Rerum maxime harum, fugit ad quia, nam magnam nisi?	
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.	
					<br/>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio explicabo suscipit impedit esse officia eaque cum ipsam nostrum, natus, iste rerum! Rerum maxime harum, fugit ad 

			//-Botón siguiente
			div.cont-btn-default
				a(href="#")
					p.text-btn-default
						|Siguiente
					i.icon-arrow

	//-Inicio Tarea solo texto
	section.column-center-task(style="display:none;")

		//-Inicio texto
		article.cont-detail-only-text-task
			div.cont-title-only-text
				div.cont-text-info-task
				h3.title-bold-task
					|Conceptos constitucionales
				h4.title-light-task
					|de la educación militar

			div.cont-only-text
				p.text-description-task
					|Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.	
					<br/>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio explicabo suscipit impedit esse officia eaque cum ipsam nostrum, natus, iste rerum! Rerum maxime harum, fugit ad quia, nam magnam nisi?	
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.	
					<br/>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio explicabo suscipit impedit esse officia eaque cum ipsam nostrum, natus, iste rerum! Rerum maxime harum, fugit ad 

				p.text-description-task
					|Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.	
					<br/>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio explicabo suscipit impedit esse officia eaque cum ipsam nostrum, natus, iste rerum! Rerum maxime harum, fugit ad quia, nam magnam nisi?	
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.	
					<br/>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio explicabo suscipit impedit esse officia eaque cum ipsam nostrum, natus, iste rerum! Rerum maxime harum, fugit ad 

			//-Botón siguiente
			div.cont-btn-default
				a(href="#")
					p.text-btn-default
						|Siguiente
					i.icon-arrow

	//-Inicio Taller
	section.column-center-task

		//-Inicio texto
		article.cont-detail-only-text-task
			div.cont-title-only-text
				div.cont-text-info-task
				h3.title-bold-task
					|Taller de aplicación
				h4.title-light-task
					|CONCEPTOS CONSTITUCIONALES DE LA EDUCACIÓN MILITAR.

			div.cont-only-text
				p.title-workshop-objectives
					|Objetivos

				//-Listado objetivos	
				div.cont-ul-objectives
					p.subtitle-workshop-objectives
						|Generales

						ul.cont-list-objectives
							li
								p.text-list-objetives
									|Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 

							li
								p.text-list-objetives
									|Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 

							li
								p.text-list-objetives
									|Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 

							li
								p.text-list-objetives
									|Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
				//-Listado objetivos
				div.cont-ul-objectives
					p.subtitle-workshop-objectives
						|Espeficicos

						ul.cont-list-objectives
							li
								p.text-list-objetives
									|Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 

							li
								p.text-list-objetives
									|Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 

							li
								p.text-list-objetives
									|Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 

							li
								p.text-list-objetives
									|Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 


			//-Botón actividad
			div.cont-btn-default-double
				a(href="#")
					p.text-btn-default
						|Actividad
					i.icon-play

			//-Botón Resultados
			div.cont-btn-default-double
				a(href="#")
					p.text-btn-default
						|Resultados
					i.icon-arrow


	
	

block Scripts
	//-Acá se ponen js que solo vayan en ésta página

